@page "{quizId=new}"
@model QuizWebApplication.Pages.QuizPages.QuizEditorModel
@{
    ViewData["Title"] = "Quiz User Select";
}

<div class="text-center container-fluid">
    <h1 class="display-4">Quiz Editor</h1>

    @if (Model.ErrorList.Count > 0)
    {
        <div class="text-danger">
            @foreach (var error in Model.ErrorList)
            {
                @error <br />
            }
        </div>
    }

    <form method="post">
        <input asp-for="QuizId" type="hidden">
        <div class="form-group">
            <label asp-for="QuizName">Quiz Name</label>
            <input asp-for="QuizName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="QuizText">Questions and answers</label>
            <textarea asp-for="QuizText" class="form-control" rows="25"></textarea>
        </div>
        <input type="submit" value="Save Quiz" />
    </form>




</div>
