@page "{quizId=new}"
@model QuizWebApplication.Pages.QuizPages.QuizEditorModel
@{
    ViewData["Title"] = "Quiz User Select";
}

<div class="text-center container-fluid">
    <h1 class="display-4">Quiz Editor</h1>

    <form method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <label class="" asp-for="QuizName">Quiz Name</label>
                </div>
                <div class="col-md-9">
                    <input asp-for="QuizName" />
                </div>

            </div>
            <br />
            <label asp-for="QuizText">Questions and answers</label>
            <br />
            <textarea asp-for="QuizText"></textarea>
            <br />
        </div>
        <input type="submit" />
    </form>
    
</div>

    @if (Model.ErrorList.Count > 0)
    {
        <div class="text-danger">
            @foreach (var error in Model.ErrorList)
            {
                @error <br />
            }
        </div>
    }

</div>